@charset "ISO-8859-1";

[dir="rtl"] {
	font-family: 'DroidKufi', sans-serif;
}

[dir="ltr"] {
	font-family: "Heebo", sans-serif;
}

.ol-viewport {
	direction: ltr !important;
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
	.my-galleria {
		/* Custom styles for small screens */
		
	}
	
	.container-xxl.bg-white.p-0 {
		padding: 1% 0 0 1% !important;
	}
}

/* Styles for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.my-galleria {
		/* Custom styles for medium screens */
		
	}
	.container-xxl.bg-white.p-0 {
		padding: 0 5% !important;
	}
}

/* Styles for large screens */
@media screen and (min-width: 1024px) {
	.my-galleria {
		/* Custom styles for large screens */
		
	}
	.container-xxl.bg-white.p-0 {
		padding: 0 10% !important;
	}
}

.form-control:read-only {
	background-color: white !important;
	opacity: 1 !important;
}

.form-control:disabled {
	background-color: #e9ecef !important;
	opacity: 1 !important;
}


.ui-paginator-prev.ui-state-default.ui-corner-all,.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled {
	color: #00B98E !important;
    border-color: #00B98E !important;
	
}
 
.ui-paginator-next.ui-state-default.ui-corner-all,.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled {
	color: #00B98E !important;
    border-color: #00B98E !important;
	
}
 

.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all{
	color: #00B98E !important;
    border-color: #00B98E !important;
    background: white !important;;
}


.ui-paginator.ui-paginator-bottom {
    border-top: 0 none;
    direction: ltr;
    background-color: white;
}

 .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
    cursor: pointer;
    font-weight: 500;
  	color:  #00B98E;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover {
	background: #00B98E;
	color: white;
	border-color: transparent;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
     color: #00B98E;  
}

body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
    padding: 1px 0;
    margin: 0 0.5rem 0 0;
    background: #00B98E;
    color: white;
    border-radius: 3px;
}


.ui-selectonemenu .ui-selectonemenu-label {
	text-align: inherit !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: #eaeaea;
    color: #333333;
    text-align: inherit;
}


.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0 none;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: inherit;
    white-space: nowrap;
}


.ui-message.ui-message-info.tagClassType  {
    background: #00B98E;
    border: 1px solid transparent;
    border-width: 0 0 0 3px;
    color: white;
    width: auto;
}

.tagClassType .ui-message-info-icon {
    color: white !important;
}

.ui-dataview .ui-dataview-header .ui-dataview-layout-options {
    float: right;
    background-color: white;
}

.ui-button.ui-button-icon-only.ui-state-default.ui-state-active{
	background-color: #00b98e;
	border-color: aquamarine;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    background: #00b98e !important;
}


body .ui-selectbooleanbutton.ui-state-active:not(.ui-state-disabled):hover, body .ui-selectonebutton > .ui-button.ui-state-active:not(.ui-state-disabled):hover, body .ui-selectmanybutton > .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background: #00b98e;
    border-color: #00b98e;
    color: white;
}

 
.empty-row.ui-dataview .ui-dataview-content{
	align-items: center;
	display: flex;
	justify-content: center;
}