@charset "ISO-8859-1";

[dir="rtl"] {
	font-family: 'DroidKufi', sans-serif;
}

[dir="ltr"] {
	font-family: "Heebo", sans-serif;
}

.ol-viewport {
	direction: ltr !important;
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
	.my-galleria {
		/* Custom styles for small screens */
		
	}
	
	.container-xxl.bg-white.p-0 {
		padding: 1% 0 0 1% !important;
	}
}

/* Styles for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.my-galleria {
		/* Custom styles for medium screens */
		
	}
	.container-xxl.bg-white.p-0 {
		padding: 0 5% !important;
	}
}

/* Styles for large screens */
@media screen and (min-width: 1024px) {
	.my-galleria {
		/* Custom styles for large screens */
		
	}
	.container-xxl.bg-white.p-0 {
		padding: 0 10% !important;
	}
}

.form-control:read-only {
	background-color: white !important;
	opacity: 1 !important;
}

.form-control:disabled {
	background-color: #e9ecef !important;
	opacity: 1 !important;
}


.ui-paginator-prev.ui-state-default.ui-corner-all,.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled {
	color: #00B98E !important;
    border-color: #00B98E !important;
	
}
 
.ui-paginator-next.ui-state-default.ui-corner-all,.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled {
	color: #00B98E !important;
    border-color: #00B98E !important;
	
}
 

.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all{
	color: #00B98E !important;
    border-color: #00B98E !important;
    background: white !important;;
}


.ui-paginator.ui-paginator-bottom {
    border-top: 0 none;
    direction: ltr;
    background-color: white;
}

 .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
    cursor: pointer;
    font-weight: 500;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover {
	background: #00B98E;
	color: white;
	border-color: transparent;
}


body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
    padding: 1px 0;
    margin: 0 0.5rem 0 0;
    background: #00B98E;
    color: white;
    border-radius: 3px;
}