.header-container {
  background-image: url("/resources/makaan/img/1.jpg");
  background-size: cover;
  background-position: center;
}

body .ui-dataview .ui-dataview-header {
    background: #00b98e;
}

body .ui-paginator {
    background: #fff;
}